@import url("../css/bootstrap-datepicker3.css");
/* ----- Global ----- */
$red: #F44237;
$yellow: #FCBF0E;
$blue: #2C67CF;
$lightblue: #7186BF;
$skyblue: #00BCCC;
$purple: #BA48EF;
$green: #4CAF4D;
$pink: #E85D84;
$lightpink:#FDE7E7;
$heavypink: #DB2C73;
$grey: #717171;
$lightgrey:#9B9B9B;
$verylightgrey:#D3D3D3;
$black: #333333;

$yellow1: #FEDA26;
$yellow2: #FEE461;
$yellow3: #FED400;
$yellow4: #FEE14C;

$red1:#E67572;
$red2:#E15754;
$red3:#E98582;
$red4:#F59492;

$green1:#26AB62;
$green2:#61C28C;
$green3:#009C46;
$green4:#4CBA7D;

$skyblue1:#4CCCDB;
$skyblue2:#26C1D4;
$skyblue3:#61D2DF;
$skyblue4:#63CFDD;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Teko:300,400,500,600);
html {  
    h1 {
        font-family: 'Noto Sans TC', sans-serif;
        color: $grey;
    }
    
    h2 {
        font-family: 'Noto Sans TC', sans-serif;
        color: $grey;
    }
    
    h3 {
        font-family: 'Noto Sans TC', sans-serif;
        color: $grey;
    }
    h4 {
        font-family: 'Noto Sans TC', sans-serif;
        color: $grey;
    }
    h5 {
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: normal;
        color: $grey;
    }
    h6 {
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: normal;
        color: $grey;
    }
    a {
        color: $grey;
        transition: 0.2s;
        &:hover {
            text-decoration: none;
            color: $black;
        }
        font-family: 'Noto Sans TC', sans-serif;
    }
    p {
        color: $grey;
        font-family: 'Noto Sans TC', sans-serif;
    }
    
}

.d-h4 {
    font-size: 1.5rem;

}
.d-h5 {
    font-size: 1.25rem;
    color: $grey;
    font-weight: 500;
    line-height: 1.2;
}
.btn-yellow {
    color: white;
    background-color: $yellow;
    border: 2px solid $yellow;
    &:hover {
        color: white;
        background-color: rgb(253, 203, 53);
        border-color: rgb(253, 203, 53);
        transition: 0.2s;
    }
}
.btn-white {
    color: #fff;
    border: 2px solid #fff;
}
.btn-purple {
    background-color: $purple;
    color: white;
    border: $purple 2px solid;
    &:hover {
        background-color: transparent;
        transition: 0.2s;
        color:  $purple;
    }
}
.btn-purple2 {
    background-color: $purple;
    color: white;
    &:hover {
        background-color: rgb(170, 61, 221);
        border-color: rgb(170, 61, 221);
        color:  white;
    }
}
.btn-grey {
    background-color: $grey;
    color: white;
    border-color: $grey;
    cursor: not-allowed !important;
    // pointer-events: none;
    &:hover {
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-lightgrey {
    background-color: $lightgrey;
    color: white;
    border-color: $lightgrey;
    // pointer-events: none;
    &:hover {
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-red {
    background-color: $red;
    color: white;
    border-color: $red;
    &:hover {
        background-color: rgb(207, 61, 53);
        border-color: rgb(207, 61, 53);
        color: white;
    }
}
.btn-blue {
    background-color: $blue;
    color: white;
    border-color: $blue;
    &:hover {
        background-color: rgb(43, 94, 182);
        color: white;
    }
}
.btn-green {
    background-color: $green;
    color: white;
    border-color: $green;
    &:hover {
        background-color: rgb(55, 145, 95);
        color: white;
    }
}
.btn-pink {
    background-color: #F26D6D;
    color: white;
    border-color: #F26D6D;
    &:hover {
        background-color: rgb(231, 87, 87);
        border-color: rgb(231, 87, 87);
        color: white;
    }
}
.btn-heavypink {
    background-color: $heavypink;
    color: white;
    border-color: $heavypink;
    &:hover {
        background-color: rgb(236, 52, 125);
        color: white;
    }
}
.btn-lightpink {
    background-color: #F4A4A4;
    color: white;
    border-color: #F4A4A4;
    &:hover {
        background-color: rgb(236, 120, 120);
        color: white;
    }
}
.btn-yellow-bd {
    border: 2px solid $yellow;
    color: $yellow;
    &:hover {
        background-color: $yellow;
        transition: 0.2s;
        color: white;
    }
}

.btn-red-bd {
    border: 2px solid $red;
    color: $red;
    &:hover {
        background-color: $red;
        transition: 0.2s;
        color: white;
    }
}
.btn-skyblue-bd {
    border: 2px solid $skyblue;
    color: $skyblue;
    &:hover {
        background-color: $skyblue;
        transition: 0.2s;
        color: white;
    }
}
.btn-skyblue {
    background-color: $skyblue;
    color: white;
    border-color: $skyblue;
    &:hover {
        background-color: rgb(23, 209, 226);
        border-color: rgb(23, 209, 226);
        color: white;
    }
}
.c-hover-heavypink:hover {
    color: $heavypink;
    transition: 0.2s;
}
.b-hover-white:hover {
    background-color: #fff;
}
.s-hoverout {
    transform: scale(1.0);
    transition: 0.3s;
}
.s-hoveractive {
    transform: scale(1.1);
    transition: 0.3s;
}



.c-white {
    color: white;
}
.c-black {
    color: $black;
}
.c-yellow {
    color: $yellow;
}
.c-pink {
    color: $pink;
}
.c-red {
    color: $red;
}
.c-lightblue {
    color: $lightblue;
}
.c-blue {
    color: $blue;
}
.c-green {
    color: $green;
}
.c-skyblue {
    color: $skyblue;
}
.c-lightgrey {
    color: $lightgrey;
}

a.c-blue:hover {
    color: rgb(35, 77, 150);
}
a.c-lightblue:hover {
    color: rgb(48, 79, 167);
}
a.c-red:hover {
    color: rgb(206, 35, 26);
}
a.c-green:hover {
    color: rgb(30, 143, 32);
}
   

.bg-yellow {
    background-color: $yellow;
}
.bg-red {
    background-color: $red;
}
.bg-skyblue {
    background-color: $skyblue;
}
.bg-green {
    background-color: $green;
}
.bg-purple {
    background-color: $purple;
}
.bg-heavypink {
    background-color: $heavypink;
}
.bg-pink {
    background-color: $pink;
}
.bg-verylightgrey {
    background-color: $verylightgrey;
}

.bd-yellow {
    border: 2px solid $yellow;
}
.bd-red {
    border: 2px solid $red;
}
.bd-skyblue {
    border: 2px solid $skyblue;
}


.lh-1_6 {
    line-height: 1.6;
}
.lh-2 {
    line-height: 2;
}

.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-45 {
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.mt-6 {
    margin-top: 5rem !important;
}
.px-6 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
}
.hr-row {
    border: none;
    height: 1px;
    background-color: rgba($color: #000000, $alpha: 0.1);
}
.col-1_5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.d-flex-abcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    margin-bottom: 5rem;
}
section.member-center {
    margin-bottom: 3rem;
}

@media screen and (min-width: 0px) and (max-width: 575.98px) {
    .col-xs-4 {
        position: relative;
        width: 100%;
        padding: 0 15px;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}



/* ----- Icon -----*/
.fa-arrow-right {
    left: 5px;
    position: relative;
}
.icon {
    display: flex;
    position: relative;
    align-items: center;
    &:before {
        content: "";
        background-size: contain;
        display: inline-block;
    }
}
.icon-bg {
    height: 50px;
    width: 50px;
    display: block;
    background-size: contain;
    &.icon-fb {
        background: url(../img/icon-border-fb.svg) no-repeat;
    }
    &.icon-line {
        background: url(../img/icon-border-line.svg) no-repeat;
    }
    &.icon-gmail {
        background: url(../img/icon-border-gmail.svg) no-repeat;
    }
    img {
        transition: 0.2s;
        opacity: 0;
    }
    img:hover {
        opacity: 1;
    }
}
.icon-user:before {
    background: url(../img/icon-user.svg) no-repeat;
    width: 24px;
    height: 22px;
    margin-right: 5px;
}

.icon-password:before {
    background: url(../img/icon-password.svg) no-repeat;
    width: 29px;
    height: 24px;
    margin-right: 5px;
}
.icon-ticket:before {
    background: url(../img/icon-ticket.svg) no-repeat;
    width: 49px;
    height: 24px;
    margin-right: 5px;
}
.icon-file:before {
    background: url(../img/icon-file.svg) no-repeat;
    width: 28px;
    height: 26px;
    margin-right: 5px;
}
.icon-coupon:before {
    background: url(../img/icon-coupon.svg) no-repeat;
    width: 31px;
    height: 26px;
    margin-right: 5px;
}
.icon-logout:before {
    background: url(../img/icon-logout.svg) no-repeat;
    width: 31px;
    height: 26px;
    margin-right: 2px;
}
.icon-check:before {
    background: url(../img/icon-check.svg) no-repeat;
    width: 25px;
    height: 20px;
    margin-right: 12px;
}
.el-icon-date:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-date.svg) no-repeat;
    width: 15px;
    height: 15px;
    margin-top: 8px;
}
.el-icon-arrow-left:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-arrow2.svg) no-repeat;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
}.el-icon-arrow-left:hover:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-arrow2-bl.svg) no-repeat;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
}
.el-icon-d-arrow-left:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-darrow2.svg) no-repeat;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
}
.el-icon-d-arrow-left:hover:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-darrow2-bl.svg) no-repeat;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
}
.el-icon-arrow-right:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-arrow2.svg) no-repeat;
    width: 11px;
    height: 11px;
}
.el-icon-arrow-right:hover:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-arrow2-bl.svg) no-repeat;
    width: 11px;
    height: 11px;
}
.el-icon-d-arrow-right:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-darrow2.svg) no-repeat;
    width: 11px;
    height: 11px;
}
.el-icon-d-arrow-right:hover:before {
    content: "";
    background-size: contain;
    display: inline-block;
    background: url(../img/icon-darrow2-bl.svg) no-repeat;
    width: 11px;
    height: 11px;
}
.el-range__close-icon {
    display: none !important;
}
a.active .icon-user:before {
    background: url(../img/icon-user-ac.svg) no-repeat;
}
a.active .icon-password:before {
    background: url(../img/icon-password-ac.svg) no-repeat;
}
a.active .icon-ticket:before {
    background: url(../img/icon-ticket-ac.svg) no-repeat;
}
a.active .icon-file:before {
    background: url(../img/icon-file-ac.svg) no-repeat;
}
a.active .icon-coupon:before {
    background: url(../img/icon-coupon-ac.svg) no-repeat;
}






/*-  Preloader  -*/
.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: white;
    transition: 0.3s linear opacity;
}
.load {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: $green;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: $red;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: $yellow;
    animation-delay: -0.5s
}

.load :last-child {
    background: $skyblue
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}

/*----- Header -----*/
.link-group ul > li {
    padding: 0 .3rem;
    &:hover {
        border-radius: 999px;
        background-color: $pink;
        > a:nth-child(1) {
            color: white !important;
        }
    }
    &.active {
        >a {
            color: $pink;
        }
    }
}
.collapse.navbar-collapse {
    overflow: scroll;
    overscroll-behavior: contain
}
/*- Navbar -*/
.navbar {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto .2rem auto;
    justify-content: space-between;
    z-index: 99;
    padding: 0.7rem 0.3rem 0.3rem 0.3rem;
    .navbar-nav {
        width: 100%;
        justify-content: space-between;
        >div {
            padding: 0 2px;
            display: flex;
            align-items: center;
        }
        ul {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-around;
            li {
                position: relative;
                .main-children {
                    top: 35px;
                    padding: 1rem 0 8px 0;
                    min-width: 175px;
                    border-radius: 8px;
                    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
                    background-color: #fff;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    left: 50%;
                    transform-origin: top;
                    transform: translateX(-50%) rotateX(90deg);
                    transition: 0.2s;
                    &.active {
                        transform: translateX(-50%) rotateX(0);
                    }
                    &:before {
                        content: "";
                        background: url("/img/arrow-top.png") no-repeat;
                        background-size: contain;
                        display: block;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        top: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .sub-has-children {
                        position: relative;

                        >a {
                            &:after {
                                content: "";
                                display: inline-block;
                                position: relative;
                                top: 2px;
                                left: 3px;
                                width: 14px;
                                height: 14px;
                                background: url(../img/icon-nav-arrow.svg);
                            }
                            &:hover::after {
                                background: url(../img/icon-nav-arrow-h.svg);
                            }
                        }
                        .sub-children {
                            top: 0;
                            left: 115%;
                            padding: 1rem 0 8px 0;
                            min-width: 150px;
                            border-radius: 8px;
                            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
                            background-color: #fff;
                            position: absolute;
                            flex-direction: column;
                            text-align: center;
                            opacity: 0;
                            transition: 0.2s;
                            &.active {
                                left: 95%;
                                opacity: 1;
                                transition: 0.2s;
                            }
                        }
                    }
                    a {
                        padding: 0 1rem;
                    }
                }
            }
        }
        a {
            font-size: 14px;
            margin: auto;
            font-weight: 500;
            white-space: nowrap;
            display: inline-block;
            &:hover {
                color: $pink;
            }
        }
    }
}
.navbar-des {
    border-bottom: 1px solid #ddd;
}

.navbar-mob {
    display: none;
}


@media screen and (min-width: 992px) {
    .header {
        padding-bottom: 70px;
    }
    .header>.container-fluid {
        position: fixed;
        background-color: white;
        z-index: 99;
    }
}


@media screen and (max-width: 991.98px) {
    .navbar-des {
        display: none;
    }
    
    .navbar-mob {
        background-color: #fff;
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        margin: 0;
        transition: 0.2s;
        box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.2);
        .navbar-logo {
            img {
                width: 200px;
            }
        }
        
    }
    .navbar-collapse {
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: calc(100% - 75px);
        background-color: #fff;
        overflow: hidden;
    }

    .navbar-collapse.collapsing {
        left: -100%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 200ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 200ms ease-in-out;
    }
    .navbar .navbar-nav {
        position: relative;
        top: 40px;
    }
    .navbar-menu-bar .navbar-nav .nav-item {
        text-align: center;
    }
    .navbar .navbar-nav .nav-item {
        margin-bottom: 15px;
        a {
            font-weight: 400;
            font-size: 24px;
        }
    }
    .nav-item.active .nav-link {
        color: $pink !important;
    }
    .top-shadow {
        width: 200%;
        transform: translateX(-25%);
        height: 1px;
        box-shadow: (0 8px 7px rgba(0, 0, 0, 0.9));
        position: absolute;
        top: -7px;
    }
    .navbar-toggler {
        position: relative;
        border: transparent;
        &:focus {
            outline: transparent;
        }
    }
    .navbar-toggler-icon-menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        img {
            width: 35px;
        }
        p  {
            white-space: nowrap;
            font-size: 12px;
            margin: .65rem 0 0 0;
            letter-spacing: 2px;
            position: relative;
            left: 1px;
        }

    }
}
.back-to-top-btn {
    display: none;
}

@media screen and (max-width: 991.98px){

    .back-to-top-btn {
        display: initial;
    }
    .back-to-top {
        position: fixed;
        bottom: 50px;
        right: 15px;
        display: none;
        z-index: 15;
        border-radius: 50px;
    }
    .bttbtn {
        border: 2px solid #fff;
        background-color: rgba(0, 0, 0,0.3);
        padding: 12px;
    }
    .bttbtn img{
        width: 25px;
    }
    .navbar-mob .navbar-logo{
        img {
            width: 105px;
        }
    }
    
    .navbar-btn {
        margin-top: 5px;
        transform: scale(0.9);
        a {
            font-size: 12px;
        }
    }
    .navbar-toggler {
        transform: scale(0.8);
    }
    .navbar-member {
        transform: scale(0.8);
        p {
            margin: 0;
        }
        img {
            width: 40px;
        }
    }
}

/*----- Index -----*/

/*- index-carousel -*/
.index-carousel {
    margin-bottom: 1rem;
}
.js-slideshowIndex {
    margin: 0.75rem -15px 0 -15px;
    .slide {
        width: 100%;
        //carousel img cover
        img {
            height: 470px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .flickity-page-dots {
        bottom: 15px;
    }
    .index-title.center {
        width: 90%;
    }
    .index-title.left,.index-title.right {
        width: 85%;
    }
}
.js-slideshowIndex-mob {
    display: none;
    margin: 0 -15px 0 -15px;
    .slide {
        width: 100%;
        img {
            max-height: 235px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .flickity-page-dots {
        bottom: 15px;
    }
    button {
        display: none;
    }
    .index-title.center {
        width: 90%;
    }
    .index-title.left,.index-title.right {
        width: 80%;
    }
    .index-title {
        width: 90%;
        h1 {
            font-size: 15px;
        }
        h2 {
            font-size: 14px;
        }
        p   {
            font-size: 13px;
        }
    }
}
.index-title.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.index-title.left{
    position: absolute;
    top: 52%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
}
.index-title.right{
    position: absolute;
    top: 52%;
    right: 10%;
    transform: translateY(-50%);
    text-align: right;
}
@media screen and (max-width: 767.98px) {
    .index-carousel {
        margin-top: 76px;
    }
    .js-slideshowIndex {
        display: none;
    }
    .js-slideshowIndex-mob {
        display: block;
    }
    
}


/*- color-block -*/

.color-block .container {
    >.row {
        >.col-md-6 {
            padding-bottom: 1rem;
        }
        >.col-md-6:nth-child(2n+1) {
            padding-right: 1.5rem;
        }
        >.col-md-6:nth-child(2n) {
            padding-left: 1.5rem;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        a:focus {
            color: white;
        }
    }
}

.el-color-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    p {
        position: absolute;
        top: 1rem;
        width: 100%;
        padding: 0 0.5rem;
    }
    h2 {
        position: absolute;
        transform: translate(-50%,-50%);
        width: 100%;
        left: 50%;
        top: 47%;
        padding: 0 0.5rem;

    }
    a {
        // padding: 0 0.5rem;
        position: absolute;
        bottom: 1.5rem;
    }
}
.bg01 {
    background-image: url(../img/bg01.png);
    background-size: cover;
}
@media screen and (max-width: 991.98px) {
    .el-color-block {
        p {
            top: 0.7rem;
        }
        h2 {
            top: 50%;
            font-size: 1.2rem;
        }
        a {
            bottom: 0.7rem;
        }
    }
    .el-color-block2 {
        h2 {
            font-size: 1.2rem;
        }
    }
    .color-block-last {
        display: block;
    }
}

@media screen and (max-width: 767.98px) {

    .color-block>.container>.row>.col-md-6{
        padding: 0 1rem 1rem 1rem !important;
        >.row>div {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .el-color-block {
        p {
            top: 1rem;
        }
        h2 {
            top: 47%;
            font-size: 2rem;
        }
        a {
            bottom: 1.5rem;
        }
    }
        
    .container-fluid {
        >.container>.row>.col-md-6:nth-child(1) {
            display: none;
        }
        >.container>.row>.col-md-6:nth-child(2) {
            padding: 0 1rem 1rem 1rem !important;
            >.row>div {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        
    }
    
}

@media screen and (max-width: 575.98px) {
    .color-block>.container>.row {
        margin: 0;
    }
    .el-color-block {
        p {
            top: 0.7rem;
        }
        h2 {
            top: 50%;
            font-size: 1.2rem;
        }
        a {
            bottom: 0.7rem;
        }
    }
    .container-fluid {
        background: transparent;
    }
}


/*- latest-news -*/
.latest-news p.text-truncate-3 {
    height: 72px;
}
.latest-news-main-page p.text-truncate-3 img{
    display: none;
}
.latest-news p.text-truncate-3 img{
    display: none;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-truncate-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*- all-news -*/

.col-all-news {
    margin-top: 3rem;
    text-align: center;
    img {
        width: 100%;
    }
    span {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto 1rem;
    }
}

@media screen and (max-width: 767.98px) {
    .col-all-news {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 10px;
        img {
            width: 70px;
        }
    }
}


/*- activity -*/

.btn-join {
    position: absolute;
    bottom: 1rem;
}
.row-mommy,.row-baby {
    margin-left: -23px;
    margin-right: -23px;
    >div{
        padding: 1rem 8px 0 8px;
    }
}
.activity-icon {
    width: 50px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.row-mommy,.row-baby {
    margin-top: 3rem;
    >div>div {
        min-height: 165px;
    }
}
.activity-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    height: 100%;
    padding: 1rem;
}
.col-top-flag img {
    width: 100%;
}
@media screen and (max-width: 991.98px) {
    .row-mommy,.row-baby {
        margin-top: 2rem;
    }
    .activity {
        .col-md-3.col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .col-top-flag {
        min-width: 100%;
        max-width: 100% !important;
        flex: 0 0 100% !important;
        img {
            width: 60%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 0 15px 0;
        }
    }
    
}

@media screen and (max-width: 575.98px) {
    .row-mommy,.row-baby {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .row-mommy,.row-baby {
        margin-top: 1rem;
        >div>div {
            min-height: 210px;
        }
    }
    .activity-block {
        padding: 0.6rem;
    }
    .activity-icon {
        width: 40px;
        right: 0.2rem;
    }    
    .col-top-flag img{
        width: 80%;
    }
    
}




/*- vendor -*/

.vendor-obj {
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);   
    }
}
.vendor-group .col-md-2 {
    margin-top: 2.5rem;
}


@media screen and (min-width: 992px) {
    .vendor-group .col-md-2 {
        padding: 0 40px;
    }
}

@media screen and (max-width: 767.98px) {
    .vendor-group .col-md-2 {
        flex: 0 0 33.3333%;
        padding: 0 40px;
    }
}
@media screen and (max-width: 575.98px) {
    .vendor-group .col-md-2 {
        padding: 0 30px;
    }

}

/*--- hero-img ---*/
.hero-img {
    margin-bottom: 2.5rem;
}
.hero-img {
    img {
        width: 100%;
        object-fit: cover;
        height: 350px;
    }
    .hero-img-mob {
        display: none;
    }
}
@media screen and (max-width: 767.98px) {
    .hero-img {
        margin-top: 71px;
        img {
            height: 250px;
        }
        .hero-img-desktop {
            display: none;
        }
        .hero-img-mob {
            display: block;
        }
    }
    
}

/*--- member-login-panel ---*/
.member-login-panel-wrapper {
    max-width: 520px;
    border: 1px solid $lightgrey;
    border-radius: 6px;
    margin: auto;
    .row {
        margin-bottom: 2rem;
    }
    // form {
    //     display: none;
    //     &.active {
    //         display: block;
    //     }
    // }
    .form-switch {
        transition: 0.5s;
    }
}
.row-sign-switch {
    text-align: center;
    .col-6 {
        background-color: $lightpink;
        transition: 0.3s;
    }
    .col-6.active {
        background-color: white;
    }
    a {
        padding: 1rem;
        font-size: 22px;
        color: $black;
        display: block;
    }
}
.hr-seperate {
    position: relative;
    .hr-seperate-title {
        color: $black;
        background-color: #fff;
        text-align: center;
        position: absolute;
        padding: 0 1rem;
        letter-spacing: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
/*- member-center -*/
.member-center.hero-img {
    margin-bottom: 0;
}

.member-center.wrapper-check-cancel {
    position: fixed;
    top: 0;
    z-index: 999;
    .wrapper-bg-black {
        background-color: rgba(0,0,0,0.6);
        width: 100vw;
        height: 100vh;
    }
    .wrapper-alert-window {
        width: 100%;
        max-width: 400px;
        padding: 0 1rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .alert-card {
        border: none;
        overflow: hidden;
        border-radius: 7px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.85rem 0;
        }
        button {
            width: 100%;
            height: 100%;
            &:focus {
                outline: none;
            }
        }
    }
}

/*- member-top-bar -*/

.member-top-bar {
    .row {
        border-bottom: 1px solid $lightpink;
    }
    a {
        display: block;
        padding-bottom: 1rem;
        padding-top: 1rem;
        height: 58px;
        transition: 0s;
        &.active {
            border-bottom: 2px solid $pink;
            p {
                color: $pink;
            }
        }
        &:hover {
            border-bottom: 2px solid $pink;
        }
        p {
            justify-content: center;
            margin: 0;
        }
    }
}


@media screen and (max-width: 991.98px) {
    
    .member-top-bar a {
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
        height: 73px;
    }
    .member-top-bar p {
        font-size: 14px !important;
        &.icon {
            display: flex;
            flex-direction: column;
            &:before{
                margin-right: 0;
                margin-bottom: 5px;
            }   
        }
    }
    .navbar-member-bar {
        a {
            position: relative;
            width: 50%;
            left: 70%;
            transform: translateX(-50%);
            p {
                font-size: 20px !important;
                text-align: start;
                &.icon {
                    display: block;
                    &:before {
                        position: absolute;
                        transform: translateX(-50%) scale(1.4);
                        top: 6px;
                        left: -60px;
                        
                    }
                }
            }
            &.active {
                p {
                    color: $pink;
                }
            }
            
        } 
    }
}
@media screen and (max-width: 575.98px) {
    .member-top-bar a {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        height: 62px;
        p {
            transform: scale(0.85);
            font-size: 12px !important;
            &.icon {
                display: flex;
                flex-direction: column;
                &:before{
                    margin-right: 0;
                    margin-bottom: 5px;
                }   
            }
        }
    }
    
}


/*- member-profile -*/

.wrapper-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $lightgrey;
    padding: 1rem;
    p {
        margin-bottom: 0.25rem;
    }
    img {
        width: 165px;
        height: 165px;
    }
}
@media screen and (max-width: 575.98px) {
    .member-center {
        p,label,input,select,button {
            font-size: 14px;
        }
    }
}

/*- member-record -*/
.card-record {
    display: inline-flex;
    width: 100%;
    h6,p {
        margin-bottom: 0.6rem;
        &.session {
            color: $pink;
        }
    }
}
/*- exhibition-info -*/
.container-narrow {
    padding: 0 6rem;
}

.ticket-price-group {
    display: flex;
    flex-wrap: wrap;
}

.ticket-price-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
    .ticket-price-top {
        height: 50px;
        position: relative;
        h4 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .arrow {
            position: absolute;
            display: block;
            width: 1rem;
            height: 0.5rem;
            margin: 0 0.3rem;
            transform: translate(-50%,100%);
            left: 49%;
            bottom: 0;
            &::before {
                position: absolute;
                display: block;
                content: "";
                border-color: transparent;
                border-style: solid;
                bottom: 0;
                border-width: 0.5rem 0.5rem 0;
            }
            &::after {
                position: absolute;
                display: block;
                content: "";
                border-color: transparent;
                border-style: solid;
                bottom: 1px;
                border-width: 0.5rem 0.5rem 0;
                
            }
            &.red:after {
                border-top-color: $red;
            }
            &.yellow:after {
                border-top-color: $yellow;
            }
            &.skyblue:after {
                border-top-color: $skyblue;
            }
        }
    }
    .ticket-price-bottom {
        .ticket-price-info {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        h4 {
            margin-bottom: 1rem;
        }
        hr {
            width: 70%;
        }
        .btn {
            letter-spacing: 3px;
            font-size: 20px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.exhibition-position {
    .card-body-2 {
        padding: 1rem;
        position: relative;
    }
}
@media screen and (max-width: 1199.98px) {
    .container-narrow {
        padding: 0 3rem;
    }
}
@media screen and (max-width: 991.98px) {
    .container-narrow {
        padding: 0 15px;
    }
}
@media screen and (max-width: 767.98px) {
    .ticket-price-group {
        &>div:nth-last-child(1){
            order: 1;
        }
        &>div:nth-last-child(2){
            order: 2;
        }
        &>div:nth-last-child(3){
            order: 3;
        }
        .ticket-price-info .icon {
            flex-direction: row;
            &:before {
                margin-right: 12px;
                margin-bottom: 0;
            }
        }
    }
    .exhibition-position {
        .card-body-2 {
            .body {
                position: relative;
            }
            h2 {
                margin-bottom: 1rem;
                text-align: center;
            }
            ul {
                display: inline-block;
                position: relative;
                transform: translateX(-50%);
                left: 50%;
            }
        }
    }
}


/*- content-page -*/
.img-content .w-55.text-center img {
    margin-left: auto;
    margin-right: auto;
}

.content img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

#qrcode img{
    width: 100%;
}

.table-apply {
    width: auto;
    td {
        padding: 0.6rem;
        vertical-align: middle;
    }
    tr:nth-child(1) td {
        border-top: none;
    }
    tr td:nth-child(1) {
        border-right: 1px solid #dee2e6;
    }
    tr td:nth-child(2) {
        border-right: 1px solid #dee2e6;
    }
}

.apply-tag {
    text-align: center;
    
    border-radius: 6px;
    width: 90px;
    padding: .275rem 0;
    margin: auto;
    &.vacancy {
        background-color: $lightpink;
    }
    &.full {
        background-color: $verylightgrey;
    }
}
.sidebar {
    .bar {
        color: white;
        padding: .375rem 15px;
        margin-bottom: 6px;
    }
    
    .title,.body {
        padding: 0 15px;
    }
    p {
        margin: 0;
    }
    &.side-latestnews {
        .title a:hover {
            color: $red;
        }
    }
    &.side-coupon {
        .title a:hover {
            color: $yellow;
        }
    }
    &.side-activity {
        .title a:hover {
            color: $skyblue;
        }
    }

}
.img-box-content {
    .img-box {
        position: relative;
        .img-content {
            position: absolute;
            top: 13%;
            .img-content-bottom {
                font-size: 115%;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 110%;
                transform: translateX(-50%);
                letter-spacing: 2px;
            }
        }
    }
}

.free-ticket-wrapper {
    width: 250px;
    margin: auto;
    .card-top {
        height: 80px;
        border-radius: 30px 30px 0 0;
    }
    .card-bottom {
        padding: 2rem 1rem;
        border-radius: 0 0 30px 30px;
    }
    .free-ticket-card {
        border-radius: 30px;
        position: relative;
        box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
    }
    .free-ticket-card .card-top:before {
        content: "";
        position: absolute;
        left: -8%;
        top: 16%;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        display: block;
    }
    .free-ticket-card .card-top:after {
        content: "";
        position: absolute;
        right: -8%;
        top: 16%;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        display: block;
    }
}

/*- vendor-page -*/
.js-slideshowVendor {
    margin: 1rem -15px 5rem -15px;
    .slide {
        height: 100%;
        img {
            // height: 460px;
            width: 100%;
            // object-fit: cover;
        }
    }
    .img-box {
        height: 100%;
        padding: 0 3rem;
    }
    .flickity-viewport {
        width: 100%;
        margin: auto;
        min-height: 110px !important;
    }
    .flickity-viewport .slide {
        width: calc(100%/6);
        top: 10px;
    }
    .flickity-page-dots {
        bottom: -45px;
    }
    button {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .vendor-content {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 991.98px) {
    .js-slideshowVendor {
        margin: 1rem -15px 0 -15px;
        .slide {
            img {
                // height: 460px;
                width: 100%;
                // object-fit: cover;
            }
        }
        .img-box {
            padding: 0 1.5rem;
        }
        .flickity-viewport {
            width: 100%;
            margin: auto;
        }
        .flickity-viewport .slide {
            width: calc(100%/3);
            top: 10px;
        }
        .flickity-page-dots {
            bottom: -45px;
        }
        button {
            display: none;
        }
    }
}

/*- contact -*/

.form-wrapper {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 1.3rem;
}

/*- faq -*/

.question {
    font-size: 16px;
    color: #333333;
    margin-bottom: 1rem;
}
.row-group-faq {
    padding: 0 12px;
}
html {
    scroll-behavior: smooth;
  }
.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
/*--- footer ---*/

.footer {
    background-color: #f7f7f7;
}

.fb-post span {
    background-color: #fff;
    height: 200px !important;
    overflow: auto;
    // width: 100% !important;
}

.row-footer-main {
    justify-content: space-between;
    margin-top: 1.5rem;
    .col-left {
        white-space: nowrap;

    }
    .col-center {
        padding-right: 3.5rem;
    }
    .col-right {
        iframe {
            width: 100% !important  ;
        }
    }
}
.fb_iframe_widget {
    display: block !important;
}

.line-btn iframe{
    width: 100% !important;
    min-height: 30px;
}
.fb-share-button {
    top: 0;
    opacity: 0;
    width: 100% !important;
    height: 100% !important;
    * {
        width: 100% !important;
        height: 100% !important;
    }
}

@media screen and (min-width: 992px) {
    .fb-post span {
        width: 100% !important;
    }    
}
@media screen and (max-width: 991.98px) {
    .navbar-logo {
        text-align: center;
    }
    .row-footer-main{
        >div {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-left .text-box {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .col-center {
            padding: 0;
            margin-top: 2rem;
            .col-6 {
                flex: 0 0 25%;
                min-width: 25%;
                p {
                    font-size: 14px;
                }
            }
        }
        .col-right {
            .fb-post {
                text-align: center;
            }
        }
    }
}

// datepicker
#birth,#signup-birth,input.form-date.form-control {
    background-color: white;
}
@media screen and (max-width: 575.98px) {
    .el-picker-panel.el-date-range-picker.el-popper {
        width: 100%;
        left: 0 !important;
        overflow: scroll;
    }
}
// popup
.popup {
    top: 0;
    left: 0;
    z-index: 990;
    .over-lay {
        height: 120%;
        overscroll-behavior: contain;
    }
}
.popup-wrapper {
    width: 100%;
    padding: 1rem;
    transform: translateX(-50%);
    top: 60px;
    left: 50%;
    width: 100%;
    max-width: 900px;
    .row {
        padding: 2rem .5rem;
        border-radius: 10px;
        margin: 0 auto;
        background-color: #fff;
        max-height: 80vh;
        overflow: scroll;
        overscroll-behavior: contain;
    }
    .block {
        width: min-content;
        height: min-content;
        border-radius: 8px;
        background-color: rgba(255, 255, 255,0.4);
        cursor: pointer;
        .img-box {
            margin: 12px;
            width: 26px;
            height: 26px;
        }
    }
}

.fb-post {
    overflow: scroll;
}